* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#task_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#task_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 0 20px;
  list-style: none;
  line-height: 40px;
  background-color: lightgray;
  border: 1px solid black;
}
