* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#task_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header_logo {
  width: 400px;
  padding: 20px 0;
}
#add_button{
  margin: 20px;
}
.delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}
#task_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 0 20px;
  margin: 10px 0;
  list-style: none;
  line-height: 40px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 3px;
}
/* .fade-enter-active, .fade-leave-active {
  transition: opacity 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  /* opacity: 0;
} */ */
